package handlers

type layoutModel struct {
	title string
}

templ layout(model layoutModel, body templ.Component) {
	<html>
		<head>
			<title>{ model.title }</title>
			<link href="assets/index.css" rel="stylesheet"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		</head>
		<body class="relative">
			@body
		</body>
	</html>
}
