package components

import (
  "fmt"

  "go.lukasgrimm.me/homepage/blog"
)

type BlogListData struct {
  Blog  blog.Blog
  Posts []*blog.PostMetadata
}

templ BlogPage(data BlogListData) {
  <main class="max-w-(--content-width) mx-auto">
    @pageHeader(data.Blog.Banner)
    <div class="max-w-(--text-width) px-4 sm:px-0 mx-auto mt-6 space-y-2">
      <h1 class="text-6xl font-bold mb-4">
        {data.Blog.Title}
      </h1>
      <p class="text-gray-700 text-lg">
        {data.Blog.Summary}
      </p>
    </div>
    <div class="max-w-(--text-width) px-4 sm:px-0 mx-auto mt-8 mb-32 space-y-4">
      @postList(data)
    </div>
  </main>
}

templ postList(data BlogListData) {
  for _, post := range data.Posts {
    <a href={data.Blog.PostURL(*post)} class="block border-2 border-black/75">
      <div class="aspect-3/1 w-full overflow-hidden">
        @Image(post.Banner, 840)
      </div>
      <div class="px-4 pt-2 pb-3 space-y-1">
        <h2 class="text-4xl font-bold">
          {post.Title}
        </h2>
        <p class="text-gray-700 text-lg line-clamp-3">
          {post.Summary}
        </p>
      </div>
    </a>
  }
}

type PostData struct {
  Blog blog.Blog
  Post blog.Post
}

templ PostPage(data PostData, options ...PageOption) {
  {{
    metadata := data.Post.Metadata()
  }}

  <main class="max-w-(--content-width) mx-auto">
    @pageHeader(metadata.Banner) 
    <div class="max-w-(--text-width) px-4 mx-auto mt-6 space-y-8">
      <h1 class="text-6xl font-bold">
        {metadata.Title}
      </h1>
      @postMetadata(metadata, data.Blog.Authority)
    </div>
    <article class="prose mx-auto mt-8 space-y-8">
      @post(data.Post)
    </article>
  </main>
}

templ postMetadata(metadata blog.PostMetadata, authority string) {
  <div class="flex flex-row items-center border-2 border-black space-x-2">
    <div class="w-14.5 h-14 border-r-2 border-black">
      @Image(metadata.Author.Picture, 48)
    </div>
    <div>
      <div class="text-lg font-medium">
        {metadata.Author.Name}
      </div>
      <div class="text-sm text-black/75">
        {metadata.CreatedAt.Format("02.01.2006")}
      </div>
    </div>
    <div class="flex items-center ml-auto border-l-2 border-b-2 border-black self-start">
      {{
        shareInfo := ShareData {
          Title: metadata.Title,
          URL: fmt.Sprintf("%s/%s", authority, metadata.Slug),
        }
      }}
      @shareButton(shareInfo)
    </div>
  </div>
}
