package components

import (
  "github.com/untanky/homepage/internal/media"
)

templ Image(asset media.Asset, width uint) {
  {{ sets := media.Sources(asset, "/media", width) }}
  <picture class="block w-full h-full">
    for _, set := range sets {
      <source srcset={set.SourceSet} type={set.Type} sizes={set.Sizes} />
    }
    <img src="" class="w-full h-full object-cover">
  </picture>
}
