package components

import (
  "context"

"github.com/untanky/homepage/internal/media"
)

type pageConfig struct {
  title string

  scripts     []string
  stylesheets []string
}

type PageOption func(ctx context.Context, cfg *pageConfig)

func WithTitle(title string) PageOption {
  return func(ctx context.Context, cfg *pageConfig) {
     cfg.title = title
  }
}

func WithScript(scriptURL string) PageOption {
  return func(ctx context.Context, cfg *pageConfig) {
     cfg.scripts = append(cfg.scripts, scriptURL)
  }
}

func WithStylesheet(stylesheetURL string) PageOption {
  return func(ctx context.Context, cfg *pageConfig) {
     cfg.stylesheets = append(cfg.stylesheets, stylesheetURL)
  }
}

templ html(cfg pageConfig) {
  <html>
    <head>
      <title>{cfg.title}</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      for _, script := range cfg.scripts {
      <script defer src={script}></script>
      }
      for _, stylesheet := range cfg.stylesheets {
      <link rel="stylesheet" href={stylesheet} />
      }
    </head>
    <body>
      { children... }
    </body>
  </html>
}

templ pageHeader(image media.Asset) {
  <div class="aspect-3/1 w-full overflow-hidden border-2 border-black">
    @Image(image, 840)
  </div>
}

type ShareData struct {
  Title string
  URL string
}

templ shareButton(data ShareData) {
  <button
    data-share-title={data.Title}
    data-share-url={data.URL}
    class="share border-0"
  >
    Share
  </button>
}
