package handlers 

type landingPageLink struct {
  label string
  href  string
}

type landingPageModel struct {
  links []landingPageLink
}

templ landingPage(data landingPageModel) {
  <header class="flex flex-col items-center">
    <img
      src="static/profile.jpg"
      alt="Headshot of Lukas Grimm"
      width="480"
    >
    <h1 class="text-slate-800 text-5xl xs:text-6xl font-bold text-center px-2 mt-4">
      Lukas Grimm
    </h1>
    <p class="text-slate-600 text-2xl font-medium mb-4 px-2">
      Senior Software Engineer
    </p>
  </header>
  <main>
    <ul class="flex flex-col items-center border-y-2 border-black divide-y-2 divide-slate-800">
    for _, link := range data.links {
      <li class="block w-full text-slate-800 text-6xl font-semibold italic">
        <a class="block w-full" href="{link.href}">
          <span class="block max-w-[480px] px-2 mx-auto">
            {link.label}
          </span>
        </a>
      </li>
    }
    </ul>
    <p class="text-slate-600 max-w-[480px] px-2 mx-auto">
      More coming soon...
    </p>
  </main>
}

