@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/space-grotesk.ttf") format("truetype");
  font-weight: 300 700;
  font-style: normal;
}

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans--font-feature-settings: "aalt", "zero"; 
}

@layer theme {
  :root,
  :host {
    --content-width: calc(var(--spacing) * 210);
    --text-width: calc(var(--spacing) * 150);
  }
}

@layer utilities {
  .prose > *:not(img) {
    @apply max-w-(--text-width) mx-auto px-4;
  }

  .prose > h1 {
    @apply text-6xl font-bold mb-[0.625em];
  }

  .prose > h2 {
    @apply text-5xl font-bold mb-[0.75em];
  }
}

@layer components {
  .share {
    @apply px-2 py-0.5 border-2 border-black hover:bg-gray-200 cursor-pointer;
  }
}
